<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/images/logo.png" alt="icon">
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <div class="login-box">
    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item>
            <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Password" required></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </div>


  <div>
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full (click)="doLogin()">Login</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
