page-login {
  .login-content {
    background: #fff;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      background: #f26623;
      padding: 20px 20px 0 20px;
      margin-top: 30px;
      border-radius: 30px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #fff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #fff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      color: #fff;
      background: #270d01;
      border-radius: 30px !important;
      border: 1px solid #fff;
    }

    .register-btn {
      color: #000;
      font-size: 0.8em;
    }
  }
}
