<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Track" tabIcon="play"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Add Client" tabIcon="add-circle"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="person"></ion-tab>
</ion-tabs>
