expandable-header {
  display: block;
  // background-color: map-get($colors, primary);
  background-color: #f26623;
  // background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f26623),     color-stop(100%, #f5a985));



  // background: url('../assets/images/bg.jpg');
  // background-size: cover !important;

  overflow: hidden;

}
