<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{user_name}}'s profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="clients">
        Your Clients
      </ion-segment-button>
      <ion-segment-button value="statistics">
        Statistics
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="initialLoad($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="segment">
    <ion-list no-lines *ngSwitchCase="'clients'">
      <ion-item *ngFor="let company of companies">
        <text-avatar [text]="company.companyName" item-left></text-avatar>
        <h2>{{company.companyName}}</h2>
        <h3>${{company.pricePerHour}}</h3>
        <p>{{company.companyName}} was created at <br> {{company.createdAt}}</p>
      </ion-item>
    </ion-list>




    <ion-list no-lines *ngSwitchCase="'statistics'">

      
      <ion-item>
        <div class="stat-box">
          <h2 class="bold"><span class="levari-head">Total Clients:</span> <span class="stat-item">{{totalClients}}</span></h2>
          <h2 class="bold"><span class="levari-head">Total Price:</span> <span class="stat-item">${{totalPrice}}</span></h2>
          <h2 class="bold"><span class="levari-head">Total Hours:</span> <span class="stat-item"></span></h2>
        </div>
      </ion-item>
      
      

      <ion-card *ngFor="let client of totalPerClient">
        <ion-item>
          <ion-avatar item-left>
            <text-avatar [text]="client.clientName" item-left></text-avatar>
          </ion-avatar>
          <h2>{{client.clientName}}</h2>
        </ion-item>

        <ion-card-content>
          <span></span>
          <h3><strong>Total Price:</strong> ${{client.totalPrice}}</h3>
          <h3><strong>Total Hours:</strong> {{client.totalHours}}</h3>
        </ion-card-content>
      </ion-card>
    </ion-list>


  </div>
</ion-content>
