page-profile {
	.bold{
		font-weight: bold;
		
		.levari-head{
			text-align: justify;
			color: #f26623;
		}

		.stat-item{
			line-height: 5px;
			text-align: right;
		}
	}

	.stat-box{
		padding: 15px 0 10px 25px;
		background: #fff;
		border: 2px solid #f26623;
		border-radius: 30px;
	}


}
