<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <div class="logo">
        <img alt="logo" height="90" src="assets/images/levari.png">           
      </div>
      <!-- <div class="title-text">
        Tracking App
      </div> -->
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="initialLoad($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let hour of hours" (click)="goToDetails(hour)">
    <ion-item>
      <ion-avatar item-left>
        <text-avatar [text]="hour.clientName" item-left></text-avatar>
      </ion-avatar>
      <h2><strong>{{ hour.clientName }}</strong></h2>
      <p>{{ hour.createdAt }}</p>
    </ion-item>

    <ion-card-content>
      <p class="hour-details" [innerHTML]="hour.details | modifyString"></p>

      <ion-grid>
        <ion-row text-center>
          <ion-col>{{ hour.startTime | timePipe }}</ion-col>
          <ion-col><ion-icon name="md-arrow-round-forward"></ion-icon></ion-col>
          <ion-col>{{ hour.endTime | timePipe }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <!-- <ion-row>

      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>

      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row> -->

  </ion-card>

  <!-- <ion-searchbar></ion-searchbar> -->
	<!-- <ion-list no-lines>
		<button ion-item *ngFor="let hour of hours" (click)="goToDetails(hour)">
      <text-avatar [text]="hour.clientName" item-left></text-avatar>
			<h2><strong>{{ hour.clientName }}</strong></h2>
      <h4>{{ hour.createdAt }}</h4>
			<h3 item-right><strong>{{ hour.numberOfHours }}</strong></h3>
		</button>
	</ion-list> -->
  <hr>
  <p class="swipeNote">pull down to refresh.</p>

</ion-content>
