page-home {
  .swipeNote {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #AAA;
  }

  ion-card {
    // border: 1px solid #f26623;
    border-radius: 20px !important;
    box-shadow: none !important;
    background: url('../assets/images/paper-bg.png') !important;
    background-size: cover !important;
  }

  ion-item {
    background-color: transparent !important;
  }

  .hour-details {
    font-weight: bold;
    color: #412200;
  }

  .logo {
    float: left;
  }

  // .title-text {
  //   color: #f26623;
  //   font-size: 100%;
  //   font-family: 'Levari';
  // }

}
