<!--
  Generated template for the AddCompany page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Client</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>

		<ion-item>
      <ion-label floating>Client Name</ion-label>
			<ion-input type="text" name="companyName" [(ngModel)]="companyName"></ion-input>
		</ion-item>

		<ion-item>
      <ion-label floating>Price per hour</ion-label>
			<ion-input type="text" name="pricePerHour" [(ngModel)]="pricePerHour"></ion-input>
		</ion-item>

		<ion-item>
			<button ion-button full large (click)="submit()">Create</button>
		</ion-item>

	</ion-list>
</ion-content>
