page-hour-details {
  .details {
    text-align: left;
  }
  .header h1, h6 {
    margin-left: 15px;
    color: #fff;
  }
  .toolbar-title-md{
    color: #f26623 !important;
    // background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f26623),     color-stop(100%, #f5a985));
  }
  .details-title{
    font-size: 1.1em;
    font-weight: bold;
    // color: #F26623;
  }
  .details-text {

  }
  .details-text .details {

  }
}

.ios, .md {
  page-hour-details {
    ion-item {
        width: 99%;
        margin: 1%;
        padding-left: 2px !important;
        margin-bottom: 10px;
        background-color: #fff;
        opacity: 0.7;
        font-size: 0.9em;
        transition: 0.2s linear;
    }
  }
}
