<!--
  Generated template for the HourDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <expandable-header [scrollArea]="mycontent" headerHeight="125">
    <div class="header">
      <h1>{{ hour.clientName }}</h1>
      <h6>
        From: {{ hour.startTime | timePipe }}, To: {{ hour.endTime | timePipe }}
      </h6>
    </div>
  </expandable-header>

  <ion-navbar id="details_navbar">
    <ion-title class="details-page-title">{{ hour.clientName }}'s Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding fullscreen #mycontent>
	<!-- <ion-list> -->
		<!-- <ion-item>
			<ion-label>
				Client Name
			</ion-label>
			<ion-badge item-right>
				{{ hour?.clientName }}
			</ion-badge>
		</ion-item> -->
		<!-- <ion-item>
			<ion-label>
				Price Per Hour
			</ion-label>
			<ion-badge item-right>
				{{ hour?.pricePerHour }}
			</ion-badge>
		</ion-item> -->
		<!-- <ion-item>
			<ion-label>
				Number of Hours
			</ion-label>
			<ion-badge item-right>
				{{ hour?.numberOfHours }}
			</ion-badge>
		</ion-item> -->
		<!-- <ion-item>
			<ion-label>
				Total Price
			</ion-label>
			<ion-badge item-right>
				{{ hour?.totalPrice }}
			</ion-badge>
		</ion-item> -->
<!--
    <ion-item>
			<ion-label>
				Details
			</ion-label>
			<ion-badge item-right class="details">
        <span [innerHTML]="hour?.details"></span>
			</ion-badge>
		</ion-item>
 -->
    <ion-grid>
      <ion-row>
        <ion-col class="details-title" width-25>Client Name</ion-col>
        <ion-col class="details-text" width-57>
          {{ hour?.clientName }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="details-title" width-25>Price Per Hour</ion-col>
        <ion-col class="details-text" width-57>
          {{ hour?.pricePerHour }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="details-title" width-25>Number of Hours</ion-col>
        <ion-col class="details-text" width-57>
          {{ hour?.numberOfHours }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="details-title" width-25>Total Price</ion-col>
        <ion-col class="details-text" width-57>
          {{ hour?.totalPrice }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="details-title" width-25>Details</ion-col>
        <ion-col class="details-text details" width-57>
          <span [innerHTML]="hour?.details"></span>
        </ion-col>
      </ion-row>
    </ion-grid>
	<!-- </ion-list> -->
</ion-content>
