<!--
  Generated template for the StopWatch page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tracking..</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<timer #timer [timeInSeconds]="numberOfHours"></timer>
	<button ion-button (click)="save()">
	  Save
	</button>

  <ion-list>
    <ion-item>
      <h2>Total Hours</h2>
      <h3 item-right>{{totalHours}}</h3>
    </ion-item>
    <ion-item>
      <h2>Total Price</h2>
      <h3 item-right>{{totalPrice}}</h3>
    </ion-item>
	</ion-list>
  <h4>{{response}}</h4>

</ion-content>
