page-add-hour {
  .textarea {
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      text-align: center;
      color:    red;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      text-align: center;
      color:    red;
      opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      text-align: center;
      color:    red;
      opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      text-align: center;
      color:    red;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      text-align: center;
      color:    red;
    }

    .item-label-stacked .input-wrapper,
    .input-wrapper {
      flex-direction: column;
    }
    .label-md[stacked] {
      margin-top: 0;
    }
  }
}
