<!--
  Generated template for the AddHour page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Tracking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines>

    <ion-item>
      <ion-label>Client</ion-label>
      <ion-select [(ngModel)]="companyID">
        <ion-option *ngFor="let company of companies; let i = index" value="{{companies[i].id}}">
          {{companies[i].companyName}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-textarea [(ngModel)]="details" class="textarea" placeholder="Details of this hour" autosize></ion-textarea>
    </ion-item>

    <ion-row>
      <ion-col center text-center>
        <ion-label>{{chargableText}}</ion-label>
        <ion-checkbox color="danger" checked="true" (click)="makeNotChargable()"></ion-checkbox>
      </ion-col>
      <ion-col center text-center>
        <ion-label>{{priceText}}</ion-label>
        <ion-checkbox color="primary" checked="false" (click)="makePriceDefault()"></ion-checkbox>
      </ion-col>
    </ion-row>

    <ion-item *ngIf="chargable && priceCustom">
      <ion-input [(ngModel)]="pricePerHour" id="price" type="text" placeholder="Price Per Hour"></ion-input>
      <ion-label for="price" stacked>*Leave blank to choose the default price</ion-label>
    </ion-item>


    <ion-item>
			<button ion-button full (click)="submit()" icon-left large>
        <ion-icon name="play"></ion-icon>
        Create
      </button>
		</ion-item>

  </ion-list>

</ion-content>
